h1{
    font-family: 'Avenir Next'; /*looks biger then xd*/
    font-size: 32px;
    font-weight: bold;
    color: #1B215C;
    text-align: center;
}

.section-p1 {
    padding:48px 103px 0 103px;
}

/* header start */

img{
    max-width: 100%
}
.logo {
    width: 90px;
    }
    
    #header-content {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 8px 103px 8px 103px;
        background: #FFFFFF;
        z-index: 999;
        position: sticky;
        left: 0; 
    }
      .header{
          
          width: 100%;
          background:#FFFFFF;
          
          top:0px;
          left: 0px;
          z-index: 999;
        position: fixed;
      }
    #navbar li {
        list-style: none;
        padding: 0 10px;
    }
    
    #navbar {
        display: flex; 
        align-items: center;
        justify-content: center;
        }
    
    /* change the icon color hover */
    
    /* add search bar */
    .search-bar { 
        display: flex;
        align-items: center;
    
    }
    
    .search-bar input{
        flex: 1;
        border: 0;
        outline: none;
        font-size: 12px; 
        font-weight: 725;
        color: #454545;
        
        max-width: 100%;
        width: 250px;
        background: #F5F5F5;
        border-radius: 60px;
        padding: 10px 20px;
        
    }
    .search-bar input{
        box-shadow: inset 2px 2px 3px #CECECE;
    }
    ::placeholder{
        color: #D3D3D3;
    }
    
    .search-bar button img{ 
        width: 23px;
    }
    
    .search-bar button{
        border: 0;
        width: 50px;
        height: 35px;
        background: white;
        cursor: pointer;
        padding: 0 0 0 20px;
        }
    
    /*edit icon*/
    .profile{ 
        width: 23px;
    }
    .cart{ 
        width: 23px;
    }
    .hamburger-icon{ 
        width: 23px;
    }

/*go back button*/
.go_back button img{ 
    width: 23px;
}

.go_back button{/*use java to go back to the prvious page*/
    border: 0;
    width: 50px;
    height: 35px;
    background: white;
    cursor: pointer;
}

.title_section{
    display: flex;
    align-items: center;
    flex-direction: row;
}    

.title_section h1{
position: relative;
left: 407px;
}    