body{    
    background: #1B215C;
}
h2{
    font-family: 'Avenir Next';
    font-size: 35px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 2px;
}
h3 {
    font-family: 'Avenir Next';
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    width: 160px;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
    text-align: right;
    position: relative;
    bottom: -140px;
    left: 70px;
}
h4{
    font-family: 'Avenir Next';
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    padding: auto;
    margin: 80px 80px 25px 80px;

}

h5{
    font-family: 'Helvetica Neue';
    font-size: 29px;
    font-weight: bold;
    color: #696969;
    text-align: left;
    position: relative;
    bottom: 150px;
    left: 50px;
}

h6{
    font-family: 'Helvetica Neue';
    font-size: 16px;
    font-weight: 400;
    color: #C9C9C9;
    text-align: right;
    position: relative;
    bottom: 100px;
    right: 80px;
}

.section-p1 {
    padding:80px 80px 20px 80px;
}

.section-p2 {
    padding: 0 80px 40px 80px;
}

.section-p3 {
    padding: 0 80px 80px 80px;
}

.section-p4 {
    padding: 0 80px 40px 80px;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
/* header start */
img{
    max-width: 100%
}

.logo {
width: 90px;
}

#header-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 103px 8px 103px;
    background: #FFFFFF;
    z-index: 999;
    position: sticky;
    left: 0; 
}
  .header{
      
      width: 100%;
      background:#FFFFFF;
      
      top:0px;
      left: 0px;
      z-index: 999;
    position: fixed;
  }
#navbar li {
    list-style: none;
    padding: 0 10px;
}

#navbar {
    display: flex; 
    align-items: center;
    justify-content: center;
    }

/* change the icon color hover */

/* add search bar */
.search-bar { 
    display: flex;
    align-items: center;

}

.search-bar input{
    flex: 1;
    border: 0;
    outline: none;
    font-size: 12px; 
    font-weight: 725;
    color: #454545;
    
    max-width: 100%;
    width: 250px;
    background: #F5F5F5;
    border-radius: 60px;
    padding: 10px 20px;
    
}
.search-bar input{
    box-shadow: inset 2px 2px 3px #CECECE;
}
::placeholder{
    color: #D3D3D3;
}

.search-bar button img{ 
    width: 23px;
}

.search-bar button{
    border: 0;
    width: 50px;
    height: 35px;
    background: white;
    cursor: pointer;
    padding: 0 0 0 20px;
    }

/*edit icon*/
.profile{ 
    width: 23px;
}
.cart{ 
    width: 23px;
}
.hamburger-icon{ 
    width: 23px;
}

/*home page top*/
#hero {
    padding: 30px 95px;
    background: #1B215C;
}
.homepage_img_1 {
    width: 950px;
    border-radius: 20px 0 0 0;
    margin-top: 7%;  
}

.homepage_img_2 {
    width: 276px;
    border-radius: 0 0 20px 0;
    position: relative;
    right:100%;
    padding-top: 7%;
}

.homepage_img_3 {
    width: 310px;
    border: 1.5em solid #1B215C;
    border-radius: 50px 0 0 50px; 
    position: absolute; 
    top: 180px;  
}

.slogan_1{
    font-family: 'Avenir Next';
    color: #FFFFFF;
    font-weight: bold;
    font-size: 60px;
    margin: 15px 0;


}

.slogan_2{
    font-family: 'Avenir Next';
    color: #FFFFFF;
    font-weight: bold;
    font-size: 60px;
    line-height: 0;
    margin: 30px 0 40px 0;
}

/* group the text, homepage img_2 & homepage img_3*/
#hero_1{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#homepage_img_2and3{ 
    display: flex;
    align-items: center; /*Q1: how do i move it up ? */
    
}











/* create feature */
#feature_1 {
    display: flex; 
    align-items: center;
    justify-content: center;
    background: #1B215C;
}
.fe-box_1 {
    /*padding: 50px 50px;*/
    width: 900px;
    display: flex;  
    align-items: center;
    justify-content: center;
}

/* Image zoom on hover + Overlay colour */
.parent_1 {
    width: 45%;
    height: 600px;
    margin: 20px; 
    overflow: hidden;
    position: relative;
    float: none; 
    display: inline-block;
  cursor: pointer;
  border-radius: 60px; 
  /*change the space between*/
}

.child_1 {
    height: 100%;
    width: 100%;
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}


/* three different images */ 
.bg-one {background-image: url(img/daily\ sale.jpg);}
.bg-two {background-image: url(img/new\ arrival.jpg);}
.bg-three {background-image: url(img/new\ releases.jpg);}



.parent_1 a { 
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
   
}

.parent_1:hover .child_1, .parent_1:focus .child_1 {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent_1:hover .child_1:before, .parent_1:focus .child_1:before {
    display: block;
}

.child_1:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(180deg, rgba(250,186,0,0) 15%, rgba(250,186,0,1));
}

/*.parent:hover a, .parent:focus a {
    display: block;
}*/

/* Media Queries */
@media screen and (max-width: 960px) {
    .parent_1 {width: 100%; margin: 20px 0px}
    .fe-box_1 {padding: 20px 20px;}
}

.hello {display: none}

















/*create feature section */
#feature_2 {
    background: #1B215C;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.fe-box_2{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 22.5px 8px 0;
}
.fe-box_2_2{
    display: flex;
    align-items: center;
    flex-direction: row;
}
#feature_2 .amazing_game{
    background-color: #FFFFFF;   
}

/* two different images */ 
.bg-one_1 {background-image: url(img/staff\ pick.jpg);}
.bg-two_2 {background-image: url(img/Game\ of\ the\ Month.jpg);}

#feature_2 p{
    font-family: 'Avenir Next';
    font-size: 25px;
    font-weight:normal;
    color: #C9C9C9; 
    width: 300px;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
    text-align: right;
    text-align: left;
    position: relative;
    bottom: 150px;
    left: 40px;
 }
/* Image zoom on hover + Overlay colour */
.parent_2 {
    width: 415px;
    height: 415px;
    overflow: hidden;
    position: relative;
    float: none; 
    display: inline-block;
  cursor: pointer;
  border-radius: 60px; 
}
.child_2 {
    height: 100%;
    width: 100%;
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.parent_2 a { 
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
   
}

.parent_2:hover .child_2, .parent_2:focus .child_2 {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent_2:hover .child_2:before, .parent_2:focus .child_2:before {
    display: block;
}

 .child_2:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(rgba(250,186,0,0) 45%, rgba(250,186,0, 1));}

/* Media Queries */
@media screen and (max-width: 960px) {
    .parent_2 {width: 100%; margin: 20px 0px}
    .fe-box_2 {padding: 20px 20px;}
}
    









/* for amazing game */
#feature_2 p{
    font-family: 'Avenir Next';
    font-size: 23px;
    font-weight:500;
    color: #C9C9C9; 
    width: 300px;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
    text-align: right;
    text-align: left;
    position: relative;
    bottom: 180px;
    left: 50px;
 }
 
 /*star*/
 .star{
    width: 30px;
}

#star ul{
    display: flex; 
    align-items: center;
    justify-content: center;
    position: absolute; 
    top: 50px;
    left: 5px; 
    }

#star li {
    list-style: none;
    padding: 0 5px;
}

/* Image zoom on hover + Overlay colour */
.parent_3 {
    width: 415px;
    height: 415px;
    overflow: hidden;
    position: relative;
    float: none; 
    display: inline-block;
  cursor: pointer;
  border-radius: 60px; 
}

.child_3 {
    height: 100%;
    width: 100%;
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.parent_3 a { 
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
   
}

.parent_3:hover .child_3, .parent_3:focus .child_3 {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent_3:hover .child_3:before, .parent_3:focus .child_3:before {
    display: block;
}

 .child_3:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Media Queries */
@media screen and (max-width: 960px) {
    .parent_3 {width: 100%; margin: 20px 0px}
    .fe-box_3 {padding: 20px 20px;}
}


/*.staff_picks_with_title{
    position: relative;
    left: 120px;
}

.game_of_the_month_with_title{
    position: relative;
    left: 248px;
    top: 540px;
}*/
.customers_review_with_title{
    padding: 0 0 0 22.5px;
}

/*newsletter*/
#newsletter{  /*hover the bottom*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter_content input {
    display: block;
    margin: 0 auto;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 12px; 
    font-weight: 725;
    color: #454545;
    max-width: 100%;
    width: 400px;
    background: #F5F5F5;
    border-radius: 60px;
    padding: 10px 20px;
    box-shadow: inset 2px 2px 3px #CECECE;
    position: relative;
    bottom:10px;
}
.newsletter_content button {
    display: block;
    margin: 0 auto;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 12px; 
    font-weight: 725;
    color: #FFFFFF;
    background: #FABA00;
    width: 110px;
    border-radius: 60px;
    padding: 10px 20px;
    cursor: pointer;
}

/*footer*/
.instagram{ 
    width: 50px;
}
.facebook{ 
    width: 50px;
}
.twitter{ 
    width: 50px;
}
#footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#footer li {
    list-style: none;
    padding: 0 30px;
}

/*footer_2*/
#footer_2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer_2 a{   
text-decoration: none;
font-family: 'Avenir Next';
font-size: 15px;
font-weight: 300;
color: #FFFFFF;
padding: 0 30px;
}

#footer_2 .follow a:hover{
    color: #CECECE;
}

/*back_to_top_button*/     /*java fix the buttom and smothes go to nav*/
.material-icon{
    width: 50px;      
}

#back_to_top {
    display: flex;
    align-items: center;
    justify-content: center;
}

#back_to_top_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; 
    background: rgba(250,186,0,0);
    border: 0;
    /*position: fixed;*/
    cursor: pointer;
}

