:root {
    --white: #FFFFFF;
    --lightgray: #F5F5F5;
    --lightgray-1: #C9C9C9;
    --lightgray-2: #CECECE;
    --lightgray-3: #D3D3D3;
    --gray-1: #696969;
    --gray: #454545;
    --blue: #1B215C;
    --superlightblue: rgba(27, 33, 92, 49%);
    --lightblue: rgba(27, 33, 92, 73%);
    --abitlightblue: rgba(27, 33, 92, 88%);
    --orange: #EB6649;
    --yellow: #FABA00;
    --black: black;
}

/* header*/
#header-content {
    background-color: var(--white);
}

.header {
    background-color: var(--white);
}

.search-bar input {
    color: var(--gray);
    background: var(--lightgray);
}

.search-bar input {
    color: var(--gray);
    background: var(--lightgray);
    box-shadow: inset 2px 2px 3px var(--lightgray-2);
}

::placeholder {
    color: var(--lightgray-3);
}

.search-bar button {
    background: var(--white);
}

/*edit icon*/
.slider {
    background-color: var(--white);
}









/*sort_and_filter_button*/

.sort_and_filter_condition button {
    background: var(--yellow);
}


input:checked+.slider {
    background-color: var(--yellow);
}

/*count_icon*/
#count_icon .number_of_item p {
    color: var(--white);
}

#count_icon .overlay_total_number_of_item_1 p {
    color: var(--white);
}

.number_of_item {
    background: rgba(27, 33, 92, 73%);
}

.overlay_total_number_of_item {
background: rgba(27, 33, 92, 1);
}



/*product list*/
.box {  
    background: var(--white);
}

.box:hover {/*add hover*/
    filter: drop-shadow(0, 3px 5px rgba(0, 0, 0, 0.7));
}

.box .image {
    background-color: var(--lightgray);
}

#title .board_games {
    color: var(--blue);
}

#sort_and_filter .sortfilter  {
    color: var(--white);
}

.box .title {
    color: var(--blue);
}

.box .price_before {
    color: var(--superlightblue);
}

.box .price_after {
    color: var(--orange);
}

.box .out_of_stock {
    color: var(--superlightblue);
}


/*product list-quick add*/

.overlay {
    background: var(--lightblue);
}

.overlay:hover {
    background: var(--abitlightblue);
}

.overlay_1 {
    background: var(--lightblue);
}

.overlay_1:hover {
    background: var(--abitlightblue);
}

.overlay_2 {
    background: var(--lightblue);
}

.overlay_2:hover {
    background: var(--abitlightblue);
}

.overlay_3 {
    background: var(--lightblue);
}

.overlay_3:hover {
    background: var(--abitlightblue);
}

.box .quick_add {
    color: var(--white);
}

/*cart*/
.cart-button > button {
    background: var(--white);
}

.cart-panel-background {
    background-color: rgba(27, 33, 92, 38%);
}

.cart-panel {
    background: var(--white);
}

.cart-header > button {
    background-color: var(--white);
}



/*products tag*/
.product-in-cart {
    color: var(--blue);
}

.product-in-cart .image {
    background-color: var(--lightgray);
}


/*price*/
.price_before-in-cart {
    color: rgba(27, 33, 92, 49%);

}

.price_after-in-cart {
    color: var(--orange);
}


/*number of product*/
#minus {
    color: var(--white);
    background-color: var(--blue);
}


#plus {
    color: var(--white);
    background-color: var(--blue);
}

.product-info #input {
    color: var(--gray);
    background: #F5F5F5;
    box-shadow: inset 2px 2px 3px var(--lightgray-2);

    color: var(--black);

}

::placeholder {
    color: var(--lightgray-3);
}

/*remove btn*/
.remove-btn {
    color: var(--lightgray-1);
    background-color: var(--white);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 16%);
}

/*total-price*/
.total-price {
    color: var(--blue);
}


/*checkout-button*/
.checkout-button > button {
    background:var(--blue);
    color: var(--white);
}

.checkout-button .checkout:hover {
    background-color: var(--yellow);
}








/*login*/
.login-button > button {
    background: var(--white);
}

.login-panel-background {
    background-color: rgba(255, 255, 255, 60%);
}

.login-panel {
    background-color: var(--blue);

}


/*login-content*/
.login-content h1 {
    color: var(--white);
}

.txt_field input {
    color: black;
    background: var(--white);
    box-shadow: inset 2px 2px 3px #CECECE;
}

::placeholder {
    color: #D3D3D3;
}


.txt_field label {
    color: var(--white);
}

.pass {
    color: var(--yellow);
}


.remember {
    color: var(--white);
}

.slider {
    background-color: var(--white);
}

input:checked+.slider {
    background-color: var(--yellow);
}


input[type="submit"] {
    background: var(--yellow);
    color: var(--white);
}

.signup_link a {
    color: var(--white);
}