@font-face {
    font-family: 'Avenir Next';
    src: url("http://www.yoursite.com/fonts/Avenir_Next.otf");
    }
    
    :root {
    --primary-font: 'Avenir Next', 'Arial', sans-serif;
    --secondary-font: 'Helvetica Neue', 'Arial', sans-serif;
}

p {
    font-family: var(--primary-font);
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

#navpage-content li a {
    text-decoration: none;
}


@media screen and (max-width:500px) {

    p {
        font-family: var(--primary-font);
        font-size: 25px;
        font-weight: 400;
        text-align: center;

    }

}